# MQTT Config
MQTT_HOST=your_broker_address
MQTT_PORT=1883
MQTT_USER=your_username
MQTT_PASS=your_password
MQTT_TOPIC=data/your_topic

# InfluxDB Config 
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=你的TOKEN
INFLUX_ORG=你的组织名
INFLUX_BUCKET=你的Bucket名
