# MQTT Config
MQTT_HOST=your_broker_address
MQTT_PORT=1883
MQTT_USER=your_username
MQTT_PASS=your_password
MQTT_TOPIC=data/your_topic

#questdb config 
QDB_URL=http://localhost:9000/exec
QDB_USER=your username
QDB_PASS=your password